PY11 - Pandas continued

In [ ]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_data.head()

In [ ]:
melb_df = melb_data.copy()
melb_df.head()

In [ ]:
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

In [ ]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(total_rooms)

In [ ]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
melb_df.head()

In [ ]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

In [24]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df['Date'])

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [ ]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df = melb_df.drop('YearBuilt', axis=1)
melb_df.head()

Task 3.3

In [49]:
melb_df['WeekdaySale']=melb_df['Date'].dt.dayofweek
weekend_count=melb_df[((melb_df['WeekdaySale']==6)|(melb_df['WeekdaySale']==5))]['WeekdaySale'].shape[0]
display(weekend_count)

12822

Task 3.4

In [53]:
ufo_data = pd.read_csv('data/ufo.csv', sep=',')
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'], dayfirst=False)
year=ufo_data['Time'].dt.year
display(year.mode()[0])

1999

Taks 3.5

In [ ]:
nv_data=ufo_data[ufo_data['State']=='NV']
nv_data['Date']=nv_data['Time'].dt.date
nv_data['Date']=pd.to_datetime(nv_data['Date'],dayfirst=False)
days=nv_data['Date'].diff().dt.days.mean()
display(days)

Task 4.2

In [74]:
def get_weekend(weekday):
    if weekday in range(0,5):
        return 0
    else:
        return 1
melb_df['Weekend']=melb_df['WeekdaySale'].apply(get_weekend)
display(round(melb_df[melb_df['Weekend']==1]['Price'].mean()))

1081199

Task 4.3

In [85]:
seller=melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['Sellers']=melb_df['SellerG'].apply(lambda x: x if x in seller else 'other')
diff=round((melb_df[melb_df['Sellers']=='Nelson']['Price'].min())/(melb_df[melb_df['Sellers']=='other']['Price'].min()),1)
display(diff)

1.3

Task 4.4

In [88]:
def get_experience(arg):
    month=['месяца','месяцев','месяц']
    year=['лет','года','год']
    line=arg.split()
    if line[-1] in year:
        experience=int(line[-2])*12
    elif (line[-1] in month) and (len(line)<5):
        experience=int(line[-2])
    else:
        experience=int(line[2])*12+int(line[-2])
    return experience

Task 4.4 - эталон

In [ ]:
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)

In [ ]:
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtypes) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

In [91]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  category
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  category
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  category
 17  CouncilArea    12211 non-null  category
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  category
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  Sellers        13580 non-null  category
dtypes: category(6), float64(6), int64(7), object(5)
memory usage: 2.0+ MB

None

Category type

In [ ]:
sub=melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb']=melb_df['Suburb'].apply(lambda x: x if x in sub else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
display(melb_df.info())

Final task - Citi bike

In [117]:
bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_df=bike_df.drop(['birth year'],axis=1)
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

Task 6.9

In [121]:
bike_df[bike_df['age']>60]['gender'].value_counts().sum()

11837

Task 6.10

In [126]:
bike_df['trip duration'].iloc[3]

Timedelta('0 days 00:07:16.837000')

Task 6.11

In [135]:
def get_weekend(weekday):
    if weekday in range(0,5):
        return 0
    else:
        return 1
#bike_df['weekend']=bike_df['starttime'].dt.dayofweek
#bike_df['weekend1']=bike_df['weekend'].apply(get_weekend)
#bike_df[bike_df['weekend1']==1].value_counts()
bike_df[bike_df['weekend1']==1].sum()

C:\Users\a.kornilov\AppData\Local\Temp\ipykernel_16120\1004240807.py:9: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  bike_df[bike_df['weekend1']==1].sum()

start station latitude                                        4690262.072772
start station longitude                                      -8517840.178091
end station latitude                                          4690199.916585
end station longitude                                        -8517888.662548
bikeid                                                            3073466162
usertype                   SubscriberSubscriberSubscriberSubscriberCustom...
gender                                                                122154
age                                                                  4440410
trip duration                                      1736 days 05:29:55.972000
weekend                                                               636487
weekend1                                                              115135
dtype: object

Task 6.12

In [146]:
#bike_df['start hour']=bike_df['starttime'].dt.hour
def get_daytime(hour):
    if hour in range(0,7):
        return 'night'
    elif hour in range(7,13):
        return 'morning'
    elif hour in range(13,19):
        return 'day'
    else:
        return 'evening'
#bike_df['time_of_day']=bike_df['start hour'].apply(get_daytime)
diff=round((bike_df[bike_df['time_of_day']=='day'].shape[0])/(bike_df[bike_df['time_of_day']=='night'].shape[0]))
display(diff)
#bike_df[bike_df['time_of_day']=='day']['stoptime'].value_counts()

9

In [147]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
 14  weekend1                 300000 non-null  int64
 15  start hour               300000 non-null  int64
 16  time_of_day              300000 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(6), object(4), timedelta64[ns](1)
memory usage: 38.9+ MB